body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image: url("https://0.s3.envato.com/files/76388981/Dance%20Floor%20Lights%201_Inline.jpg");
  background-size: auto 100%;
  font-size: 18px;
  overflow : hidden;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:0px solid red;
  border-radius:100px;
  position:absolute;
  width: 200px;
  height:200px;
  background-image : url("http://fc09.deviantart.net/fs40/f/2009/037/e/f/Robot_dance_by_C_Puff.gif");
  background-size: 100% 100%;

}
